﻿.nav > li > a:hover > .indicator-span, .nav > li > a:focus > .indicator-span {
    color: #fff;
}

.nav > li > a > .indicator-span {
    color: black;
}

.notify {
    background-color: #FEFEFE;
    color: #000;
    border: .1em solid;
    border-color: #F0F0F0;
    padding: 10px;
    cursor: default;
}

.notify-yellow {
    background: #fff8c4;
    border-color: #f7deae;
}

.notify-red {
    background: #ffecec;
    border-color: #fad9d7;
}

.notify-green {
    background: #e9ffd9;
    border-color: #D1FAB6;
}

.multiple-list {
    height: 60px !important;
}

.horizontal-scroll {
    overflow-x: scroll;
    white-space:nowrap
}


/* CODE FOR CTR */

	/* CTR IMG SIGNATURE*/
.signature img{
	width : 100%;
	height : 80px;
	display : block;
}
.signature {
	display : inline-block; 
	text-align : center;
	width : 150px;
	height: 105px; 
	vertical-align: top;
}

	/*CTR EVIDENSE IMAGE*/

#modalDetailEvidense img.imgDatos{
	max-width: 100%;
	max-height: 400px;
}

#modalDetailEvidense {
	text-align : center;
}


.wrapper1.scroll {
	height: 20px;
	overflow-x: scroll;
	overflow-y: hidden;
	width: 100%;
}

.MiniTable td, .MiniTable th{
	font-size: 12px !important;
	padding : 3.5px 10px !important;
}

.oc {
	opacity: 0 !important; 
}