﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("LoadFiles", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<table>
    <tr>
        <td>Cargar archivo contenido</td>
        <td><input type="file" name="fileContent" /></td>
    </tr>
    <tr>
        <td>Cargar archivo registrados</td>
        <td><input type="file" name="fileRegistered" /></td>
    </tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr><td></td></tr>

    <tr>
        <td><button class="btn btn-success btn-lg"><i class="fa fa-check"></i>Resultados</button></td>
    </tr>





    <!--<td>&nbsp;</td>
    <td><input type="submit" name="submit" value="upload" /></td>-->

</table>
}