﻿@{
    Layout = null;
}

<div class="row">
   
    <div class="col-sm-12 col-md-12">
        <center>
            <!-- Mensagge Footer-->
            <br />
            <p class="text-center">Realizado por Edwin Giraldo Nieto</p>     
        </center>
    </div>

</div>
