﻿<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">   
        <div class="navbar-collapse collapse">
                        
                    <span class="m-r-sm text-muted welcome-message">
                        <p class="text-center">PALABRAS COINCIDENTES</p>					
                    </span>
               
        </div>
    </div>
</div>
