﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>TestCoincidentWords</title>
    <!-- Bootstrap core CSS -->
    <link href="/Content/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/bootstrap-theme.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/Content/Site.css" rel="stylesheet" />
    <link href="/Content/dashboard.css" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/Content/font-awesome.min.css" rel="stylesheet" />

  

</head>
<body>
    @Html.Partial("~/Views/Shared/_header.cshtml")
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <h4 class="menuh4">Menu</h4>
                <ul class="nav nav-sidebar">
                   
                            <li>
                                <a>
                                    <i class="fa fa-home"></i>
                                    Home
                                    <i class="fa fa-angle-left fa-nav"></i>
                                </a>
                            </li>
                      

                </ul>
              
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            
                @RenderBody()
                @Html.Partial("~/Views/Shared/_footer.cshtml")
            </div>
        </div>
    </div>
  
    
</body>

</html>